<div class="emp-header">
  <h2>Employee List</h2>
  <a routerLink = "/employee/add" class="btn">Add Employee</a>
</div>
<div class="employee-container">
 
  <table class="employee-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Gender</th>
        <th>Skills</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (emp of employees; track $index) {
      <tr>
        <td>{{ emp.employeeId }}</td>
        <td>{{ emp.employeeName }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.contactNumber }}</td>
        <td>{{ emp.gender }}</td>
        <td>

            <div list-style="none">
                @for (skill of emp.skills; track $index) {
                    <div >@if (emp.skills.length!=1) { {{$index+1}}. } {{skill.name}} (  {{skill.experience}} )</div>
                }
              </div>
        </td>
        <td>
          <span (click)="editEmployee(emp.employeeId)">
            <mat-icon>edit</mat-icon>
          </span>
          <span (click)="deleteEmployee(emp.employeeId)">
                <mat-icon>delete</mat-icon>
          </span>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
